/* Theme-color
https://colorhunt.co/palette/13334c005792f6f6e9fd5f00
  white: F6F6E9
  Dark-blue: 13334C
  Blue: 005792
  Orange: FD5F00

*/

.App {
  background-color: F6F6E9;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
/* Navbar */
nav {
  height: 20%;
  
  background-color: #13334C;
  color: #f6f6e9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

li {
  list-style: none;

}

/* ul {
  display: none;
} */

/* Sidebar */

.sidebar {
  background-color: #FD5F00;
  width: 150px;
  height: 90vh;
  display: flex;
  justify-content: center;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home button {
  margin: 10px;
  background-color: #FD5F00;
  color: #13334C;
  /* outline: none; */
  box-shadow: 2px 4px;
  font-size: 1.5rem;
}

/* Groups */

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.groups h3 {
  height: 2rem;
}

.groups hr {
  width: 90%;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main button {
  margin: 10px;
  background-color: #FD5F00;
  color: #13334C;
  /* outline: none; */
  box-shadow: 2px 4px;
  font-size: 1.5rem;
}


@media (min-width : 576px) {
  .App {
    background-color: F6F6E9;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  
  }

  nav {
    height: 10%;
    width: 100vw;
    background-color: #13334C;
    color: #f6f6e9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  nav ul li {
    margin: 0 60px;
  }

  /* sidebar */

  .sidebar {
    position: absolute;
    background-color: #FD5F00;
    width: 100px;
    height: 90vh;
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
  }

  .sidebar * {
    margin-top: 20px;
  }

  /* home */

  .home {
    /* position: relative;
    width: 90%; */
    left: 100px;
    flex-direction: row;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;

  }

  .home button {
    background-color: #FD5F00;
    color: #13334C;
    /* outline: none; */
    border: none;
    height: 4rem;
    width: 14rem;
    box-shadow: 2px 4px;
    font-size: 1.5rem;
  }

  /* main */
  .main {
    position: relative;
    width: 90%;
    flex-direction: row;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;

  }

  .main button {
    background-color: #FD5F00;
    color: #13334C;
    /* outline: none; */
    border: none;
    height: 4rem;
    width: 14rem;
    box-shadow: 2px 4px;
    font-size: 1.5rem;
  }

  .tests {
    width: 60vw;
    min-height: 500px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    

  }
  button.newTest {
    background-color: #FD5F00;
    font-size: 1.5rem;
    width: 20rem;
    height: 3rem;
    
    
  }
  .testBox {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }

  .testBox button {
    margin: 20px;
    
    font-size: 1.2rem;
    width: 10rem;
    height: 2rem;

  }
  .tests-button {
    font-size: 1.2rem;
    background-color: #13334C;
    color: #f6f6e9;
    outline: none;
    border: none;
    width: 15rem;
    height: 2rem;
    margin: 10px;
    box-shadow: 3px 5px;
    


  }

  .test {
    min-height: 500px;
  }


}

@media (min-width : 768px) {


}

@media (min-width : 992px) {


}